<div class="user-details">
  <mat-list>
      <mat-list-item class="u-text-align-center">
          <span class="mat-title-medium">Detalhes do Usuário</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="mat-title-medium">Nome: </span><span class="mat-title-small">{{ user.nome | dashIfEmpty }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="mat-title-medium">Email: </span> <span class="mat-title-small">{{ user.email | dashIfEmpty }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="mat-title-medium">Telefone: </span> <span class="mat-title-small">{{ user.telefone | phone}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="mat-title-medium">Endereço: </span> <span class="mat-title-small">{{ user.endereco | address }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="mat-title-medium">Status: </span> <span class="mat-title-small">{{ user.ativo | status }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="mat-title-medium">Função: </span> <span class="mat-title-small">{{ user.funcao | dashIfEmpty }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span class="mat-title-medium">Data de Cadastro: </span> <span class="mat-title-small">{{ user.dataCadastro | date:'dd/MM/yyyy' | dashIfEmpty }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
  </mat-list>
</div>

